.error-container{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-container h1{
    font-size:7rem;
    margin-bottom: 0;
}
